@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
#footerpage {
  width: 100%;
  height: 350px;
  background-color: #fefaf3;
}

#footerpage h4 {
  color: black;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 40px;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#footerpage ul {
  list-style: none;
}

#footerpage ul li {
  text-align: left;
}

#footerpage ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #8b8b8b;
  overflow: hidden;
  padding: 0;
}

#footerpage ul li a:hover {
  color: #f34f3f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footervisa {
  text-align: center;
}

#footervisa span {
  text-align: left;
  color: #6d6a6a;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

#footervisa span a {
  color: #2b2b2b;
}

#footervisa span a:hover {
  color: #f34f3f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

#footervisa a {
  text-transform: uppercase;
  color: #8b8b8b;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
}

#footervisa a:hover {
  text-decoration: none;
  color: #f34f3f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-toggle::after {
  content: initial;
}

.navbar {
  background-color: #ffffff;
}

.navbar img {
  height: 28px;
  width: 200px;
}

.navbar .navbar-nav {
  margin: 0 auto;
}

.navbar .navbar-nav .icons {
  margin-top: 8px;
}

.navbar .navbar-nav .icons .fas {
  margin-left: 18px;
  color: #1b2024;
  font-size: 15px;
}

.navbar .navbar-nav .icons .fa-search:hover {
  color: #f34f3f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navbar-nav .icons sup {
  background-color: red;
  color: white;
  padding: 6px 6px;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: 5px;
}

.navbar .navbar-nav .icons .text {
  color: black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 27px;
}

.navbar .navbar-nav .nav-item {
  margin-left: 35px;
  font-size: 12px;
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 22px;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 10px 0px;
  text-transform: uppercase;
  color: #2b2b2b;
  position: relative;
}

.navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: black;
  bottom: 0px;
  width: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}

.navbar .navbar-nav .dropdown-menu {
  border-radius: 0px;
  left: -60%;
  top: 105%;
  padding: 10px 15px;
}

.navbar .navbar-nav .dropdown-menu .port .portfolioss {
  position: absolute;
  top: 40px;
  left: 150px;
}

.navbar .navbar-nav .dropdown-menu .shop {
  width: 580px;
  height: 300px;
  text-align: center;
}

.navbar .navbar-nav .dropdown-menu .shop .item {
  margin-left: 10px;
  font-family: "Playfair Display",serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
  min-width: 160px;
  max-width: 160px;
  text-align: left;
}

.navbar .navbar-nav .dropdown-menu .shop .item h5 {
  margin-right: 10px;
}

.navbar .navbar-nav .dropdown-menu .shop .item ul {
  list-style: none;
}

.navbar .navbar-nav .dropdown-menu .shop .item ul li {
  text-align: left;
  margin-right: 20px;
}

.navbar .navbar-nav .dropdown-menu .shop .item ul li a {
  font-size: 14px;
  color: #6d6a6a;
  line-height: 19px;
  margin-left: -36px;
}

.navbar .navbar-nav .dropdown-menu .shop .item ul li a:hover {
  text-decoration: none;
}

.active::before {
  width: 100% !important;
}

#sendflowers {
  width: 100%;
  height: 430px;
  background-color: #f3f3f3;
  text-align: left;
  position: relative;
}

#sendflowers .textarea h2 {
  margin-top: 55px;
  z-index: 5;
  min-width: 350px;
  max-width: 350px;
  min-height: 100px;
  max-height: 100px;
  white-space: normal;
  font-size: 41px;
  line-height: 50px;
  font-weight: 400;
  color: black;
  letter-spacing: 0px;
  font-family: "Playfair Display";
  padding: 0px;
  opacity: 1;
}

#sendflowers .textarea h2 span {
  color: red;
}

#sendflowers .textarea p {
  color: #8b8b8b;
  font-size: 17px;
  min-width: 390px;
  max-width: 390px;
  line-height: 29px;
  font-weight: 400;
  font-family: "Playfair Display";
}

#sendflowers .textarea img {
  margin: 5px;
}

#sendflowers .slider {
  width: 600px;
  height: 500px;
  position: absolute;
}

#sendflowers .slider .items {
  width: 600px;
  height: 380px;
}

#sendflowers .slider .items img {
  width: 100%;
  height: 385px;
}

#valentine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  padding: 50px 0px;
  background-color: #f7f7f7;
}

#valentine .modalvideo {
  cursor: pointer;
}

#valentine .modalvideo .img {
  width: 500px;
  height: 330px;
  overflow: hidden;
  border: 1px solid white;
  position: relative;
}

#valentine .modalvideo .img img {
  width: 500px;
  height: 330px;
}

#valentine .modalvideo .img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#valentine .modalvideo .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  top: 35%;
  left: 38%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#valentine .modalvideo .circle .fas {
  font-size: 50px;
  color: #f34f3f;
}

#valentine .valentine-text h2 {
  color: #2b2b2b;
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  display: block;
  margin: 14px 0 0;
  letter-spacing: 1px;
}

#valentine .valentine-text h2 span {
  color: red;
}

#valentine .valentine-text p {
  font-size: 17px;
  line-height: 29px;
  margin-top: 27px;
  font-family: "Lora", serif;
  color: #6d6a6a;
}

#valentine .valentine-text .valentine-items {
  margin-top: 40px;
}

#valentine .valentine-text .valentine-items .items {
  margin-top: 18px;
}

#valentine .valentine-text .valentine-items .items span {
  margin-left: 5px;
  font-family: "Lora", serif;
  color: #6d6a6a;
}

#flowerexpert {
  width: 100%;
  height: 500px;
  background-color: white;
}

#flowerexpert .title {
  text-align: center;
}

#flowerexpert .title h2 {
  text-align: center;
}

#flowerexpert .title p {
  text-align: center;
}

#flowerexpert .card {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */