// Colors
$primary-color:#f34f3f;
$white-color:#ffffff;
$primary-black-color:rgb(0, 0, 0);
$secondary-black-color:rgb(109, 106, 106);
$head-color:#2b2b2b;
$footer-color:#fefaf3;
$sub-text-color:#8b8b8b;
$sendflower-color:#f3f3f3;
$red-color:red;

// Fonts
$primary-fonts:'Lora', serif;
$secondary-font:'Montserrat', sans-serif;
$playfair-font: "Playfair Display";

// Fonts Sizes
$primary-head-font-size:41px;
$title-font-size:38px;
$sub-title-font-size:17px;
$footer-font-size:14px;