#headtitle{
    width: 100%;
    background-color: white;
    h1{
        color: #0e0e0e;
        font-size: 50px;
        line-height: 1.32em;
        font-family:  $playfair-font;
        font-weight: 400;
        margin-top: 30px;
    }
}