#join{
    padding: 120px 0px;
    background-image: url('../img/h3-background-img.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    max-height: 530px !important;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    .input-text{
        h4{
            color: #ffffff;
            font-size: 30px;
            line-height: 20px;
            font-family: $playfair-font,serif;
            font-weight: 400;
            text-align: center;
        }

        .inpt{
          margin: 0 auto;
          margin-top: 50px;
            input{
                height: 60px;
            }
            .input-group-prepend{
                span{
                    font-weight: 500;
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 0px;
                    background-color: $primary-color;
                    border: none;
                    color: white;
                   
                }
            }
        }
        }
}