#selectflowers{
  
  #myBtnContainer{
    &:focus{
      outline: none;
      border: none;
    }
    button{
      font-size: 12px;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $secondary-font;
    
    }
  }
    
    .drpdwn{
        .btnfltr{
            color: black !important;
            margin-left: 150px;
        }
        .drpdwnhover{
            width: 100%;
             position: relative;
            .menudrp{
                width: 100%;
              h6{
                  text-align: center;
                  font-size: 22px;
                  line-height: 1.363em;
                  color: #2b2b2b;
                  font-family:$playfair-font,serif;
                  font-weight: 400;
              }
              a{
                font-size: 13px;
                text-transform: capitalize;
                font-weight: 500;
                color: $sub-text-color;
                font-family: $secondary-font;

                &:hover{
                    color: black;
                }
              }
            }
        }
        
    }
  /* Center website */
  .main {
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  
  /* Create three equal columns that floats next to each other */
  .column {
    display: none; /* Hide columns by default */
    width: 100%;
      &:hover{
          .text{

            .add-cart{
                opacity: 0 !important;
                transition: 0.5s !important;
            }
            .price{
                opacity: 1 !important;
                transition: 0.5s !important;
                color: $primary-color !important;
            }

          }
      }
    .content{  
        width: 100%;
      margin-top: 10px;
       
        .img{
            overflow: hidden;
            width: 250px;
            img{
                width: 250px;
                height: 310px;
                &:hover{
                    transition: 0.5s;
                    transform: scale(1.08);
   
                   }
            }
        }
        .text{
            position: relative;
            h4{color: #1b1b1b;
                font-family: $secondary-font;
                font-size: 12px;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            .txt{
                position: absolute;
                color: #afafaf;
                font-size: 12px;
                text-align: center;
                font-family: $secondary-font;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: .1em;
                left: 60px;
            }
            .add-cart{
            opacity: 1;
            }
            .price{
             left: 80px;
             opacity: 0;
            }
        }
        
    }
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  .show {
    display: block;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    color:$primary-color;
    transition: 0.5s;
  }
  
  .btn.active {
    background-color:$primary-color;
     color: white;
     transition: 0.5s;
  }
}
.activeclr{
    color: $primary-color !important;
}
@media  screen and (max-width:425px){
    #selectflowers{
        .drpdwn{
            .btnfltr{
                margin-left: 0px !important;
            }
        }
    }
}