#selectflowers{
width: 100%;
background-color:white;
    .flowersname{
        ul{
            display: flex;
            list-style-type: none;
            li{
              padding: 10px;
              display: inline-block;
              vertical-align: middle;
              font-size: 12px;
              letter-spacing: .1em;
              font-weight: 500;
              text-transform: uppercase;
                a{
                    text-decoration: none;
                    color: $primary-black-color;
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: $secondary-font;
                    &:hover{
                        color: $primary-color;
                        transition: 0.5;
                    }
                }
            }
        }

    }

    .drpdwn{
        .btnfltr{
            color: black !important;
            margin-left: 150px;
        }
        .drpdwnhover{
            width: 100%;
             position: relative;
            .menudrp{
                width: 100%;
              h6{
                  text-align: center;
                  font-size: 22px;
                  line-height: 1.363em;
                  color: #2b2b2b;
                  font-family:$playfair-font,serif;
                  font-weight: 400;
              }
              a{
                font-size: 13px;
                text-transform: capitalize;
                font-weight: 500;
                color: $sub-text-color;
                font-family: $secondary-font;

                &:hover{
                    color: black;
                }
              }
            }
        }
        
    }

    

    .card{
            overflow: hidden;
            border: none;
     &:hover{
        .card-text{
            position: relative;
           
           h6{
               color: #1b1b1b;
               font-family: $secondary-font;
               font-size: 12px;
               line-height: 32px;
               font-weight: 500;
               letter-spacing: .1em;
               text-transform: uppercase;
               }

           .txtcard{
               position: absolute;
               color: #afafaf;
               font-size: 12px;
               font-family:$secondary-font;
               line-height: 24px;
           }

           .add-to-card{
                opacity:0 ;
                left: 78px;

           }

           .price{
               left:60px;
               opacity:1;
               color: #afafaf;
               font-size: 12px;
               font-family:$secondary-font;
               line-height: 24px;
           }
}
        .add-to-card{
            opacity: 1;
            transition: 0.5;
            color: $primary-color;
            
        }
        .price{
            opacity: 0;
            transition: 0.5;
        }
     }
     img{
             
                &:hover{
                    transform: scale(1.04);
                    transition: 0.5s;
                }
             }
            }
   
}
.activeclr{
    color: $primary-color !important;
}
@media  screen and (max-width:425px){
    #selectflowers{
        .drpdwn{
            .btnfltr{
                margin-left: 0px !important;
            }
        }
    }
}