// SEND FLOWERS SECTION SCSS START
#sendflowers{
    width:100%;
    height: 430px;
    background-color: $sendflower-color;
    text-align: left;
    position: relative;
    .textarea{


        h2{
            margin-top:55px ;
    z-index: 5;
    min-width: 350px;
    max-width: 350px;
    min-height: 100px;
    max-height: 100px;
    white-space: normal;
    font-size: $primary-head-font-size;
    line-height: 50px;
    font-weight: 400;
    color: $primary-black-color;
    letter-spacing: 0px;
    font-family:$playfair-font;
    padding: 0px;
    opacity: 1;
            span{
                color: $red-color;
              
            }
        }
        p{
            color:$sub-text-color;
            font-size: $sub-title-font-size;
            min-width: 390px;
            max-width: 390px;
            line-height: 29px;
            font-weight: 400;
            font-family: $playfair-font;
        }
        img{
          margin: 5px;
        }
    }
    .slider{
         width: 600px;
         height: 500px;
         position: absolute;
        .items{
       
            width: 600px;
            height: 380px;
            img{
                width: 100%;
                height: 385px;
               
            }
        }
    }

}

// SEND FLOWERS SECTION SCSS START