#shop-cards{
    width: 100%;
    .product-item{
                .new{
                    background-color: #f34f3f;
                    color: white;
                    padding: 5px 15px;
                    z-index: 999;
                    position: absolute;
                    top: 10px;
                    left: 9px;
                }
        &:hover{

            .opacityhover{
                opacity: 1 !important;
                background-color: white;
                transition: 0.5s;
            }
        }
        position: relative;
       
        .opacityhover{
            cursor: pointer;
            position: absolute;
            top: 92px;
            left: 45px;
            opacity: 0;
            transition: 0.5s;
            .text{
                h6{
                    font-family:$secondary-font;
                    font-size: 15px;
                    line-height: 24px;
                }
            }
            .price{
                span{
                    font-family:$secondary-font;
                    font-size: 15px;
                    line-height: 24px;
                }
            }
            .button{
              
                .btn{
                    padding: 13px 42px;
                    white-space: nowrap;
                    z-index: 3;
                    background-color: $primary-color !important;
                    border: none;
                }
            }
        }
    }
}

#slickCard{
    .card{
        overflow: hidden;
        border: none;
 &:hover{
    .card-text{
        position: relative;
       
       h6{
           color: #1b1b1b;
           font-family: $secondary-font;
           font-size: 12px;
           line-height: 32px;
           font-weight: 500;
           letter-spacing: .1em;
           text-transform: uppercase;
           }

       .txtcard{
           position: absolute;
           color: #afafaf;
           font-size: 12px;
           font-family:$secondary-font;
           line-height: 24px;
       }

       .add-to-card{
            opacity:0 ;
            left: 78px;

       }

       .price{
           left:60px;
           opacity:1;
           color: #afafaf;
           font-size: 12px;
           font-family:$secondary-font;
           line-height: 24px;
       }
}
    .add-to-card{
        opacity: 1;
        transition: 0.5;
        color: $primary-color;
        
    }
    .price{
        opacity: 0;
        transition: 0.5;
    }
 }
 img{
         
            &:hover{
                transform: scale(1.04);
                transition: 0.5s;
            }
         }
        }
}